<mat-card class="menucard">
  <mat-card-content>
      <h2 class="title">Vevő hozzádása</h2>
      <button mat-raised-button routerLinkActive="active" routerLink="/product-create" class="menubtn">Termék hozzáadás</button>
      <button mat-raised-button routerLinkActive="active" routerLink="/product-list" class="menubtn">Termékek</button>
      <button mat-raised-button routerLinkActive="active" routerLink="/customer-list" class="menubtn">Vevők</button>
      <button mat-raised-button routerLinkActive="active" routerLink="/cart" class="menubtn">Kosár</button>
      <button mat-raised-button routerLinkActive="active" routerLink="/order" class="menubtn">Rendelések</button>
</mat-card-content>
</mat-card>


<mat-card class="card">
  <h2 class="title">Új vevő</h2>
  <mat-card-content>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="form" >

    <mat-form-field >
      <input matInput type="text" placeholder="Ügyfél neve" formControlName="name">
    </mat-form-field>
    <br>

    <mat-form-field >
      <input matInput  placeholder="Felhasználónév" type="text"  formControlName="username">
    </mat-form-field>
    <br>

    <mat-form-field >
      <input matInput  placeholder="Cím" type="text" formControlName="address">
    </mat-form-field>
    <br>

    <mat-form-field >
      <input matInput  placeholder="Telefonszám" type="text" formControlName="phone">
    </mat-form-field>
    <br>

    <button color="primary" mat-raised-button type="submit"  class="submit" >Hozzáad</button>

  </form>
</mat-card-content>
</mat-card>
