<mat-card class="menucard">
  <mat-card-content>
      <h2 class="title">Kosár</h2>
 <button mat-raised-button routerLinkActive="active" routerLink="/product-create" class="menubtn">Termék hozzáadás</button>
 <button mat-raised-button routerLinkActive="active" routerLink="/product-list" class="menubtn">Termékek</button>
 <button mat-raised-button routerLinkActive="active" routerLink="/customer-create" class="menubtn">Vevő hozzáadás</button>
 <button mat-raised-button routerLinkActive="active" routerLink="/customer-list" class="menubtn">Vevők</button>
 <button mat-raised-button routerLinkActive="active" routerLink="/order" class="menubtn">Rendelések</button>
</mat-card-content>
</mat-card>


